.body_resize_top_resize { 
    margin:10px auto; 
    padding:0 10px;
}
.body_resize  { 
    background: url(images/body_bg.gif) top repeat-y; 
    padding:0; width:980px; 
    margin:0 auto;
}
.body_resize_top { 
    background: url(images/body_top_bg.gif) top no-repeat; 
    margin:0; padding:0;
}
.body_resize_bottom { 
    margin:0; padding:10px; width:960px; 
    background:url(images/body_bottom_bg.gif) bottom no-repeat;
}
.body { 
    padding:20px 0; 
    margin:0 auto; 
    background:#e9e9e9;
}
.body h2 { 
    font:bold 18px Arial, Helvetica, sans-serif; 
    color:#343434; 
    border-bottom:1px  solid #dbdbdb; 
    padding:10px 5px; 
    margin:0 0 10px 0;
}
.body h4 { 
    font:bold 18px Arial, Helvetica, sans-serif; 
    color:#343434; 
    padding:10px 5px; 
    margin:0 0 10px 0;
}
.body h3 { 
    font:normal 18px Arial, Helvetica, sans-serif; 
    color:#575757; 
    padding:10px 5px; 
    margin:0 0 10px 0;
}
.body p { 
    font:normal 11px Arial, Helvetica, sans-serif; 
    color:#7d7d7d; 
    line-height:1.8em; 
    padding:3px 5px; 
    margin:0;
}
.body p span { 
    color:#e8ad09;
}
.body a { 
    color:#1b2428; 
    text-decoration:none;
}
.body img { 
    margin:10px auto; 
    padding:0;
}
.body img.floated { 
    float:right; 
    margin:5px 20px; 
    padding:0;
}
.body img.floated2 { 
    float:left; 
    margin:5px 20px 5px 0; 
    padding:0;
}
.right { 
    width:290px; 
    margin:0; 
    padding:10px 15px; 
    float:right;
}
.right ul { 
    list-style:none; 
    margin:0; 
    padding:0;
}
.right li { 
    padding:5px; 
    margin:0; 
    border-bottom:1px solid #dbdbdb;
}
.right li a { 
    font:normal 11px Arial, Helvetica, sans-serif; 
    color:#7d7d7d; 
    text-decoration:none;
}
.right li a:hover { 
    font:bold 11px Arial, Helvetica, sans-serif; 
    color:#343434;
}
.left {
    width:610px; 
    margin:0; 
    padding:10px 15px; 
    float:left;
}
.blog {
    width:290px; 
    margin:0; 
    padding:10px 15px; 
    float:left;
}
.port { 
    width:270px; 
    float:left; 
    margin:10px 10px 10px 5px; 
    padding:5px; 
    background:#fff; 
    border:1px solid #ddd;
}